:root {
  --description-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --text-main-color: #212121;
  --primary-black-color: #000000;
  --secondary-background-color: rgb(47, 48, 58);
  --last-section-color: #f5f4fa;
  --header-border-color: #ececec;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --thumb-background-color: rgba(47, 48, 58, 0.8);
  --icon-primary-color: #afb1b8;
  --icon-background-color: rgba(255, 255, 255, 0.1);
  --card-border-color: #eeeeee;
  --anim-type: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-main-color);
  font-family: Roboto, Verdana, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

link {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.3846153846;
  }
}

.logo__part {
  color: var(--primary-black-color);
}

.logo__part--white {
  color: var(--primary-white-color);
}

.page-header {
  border-bottom: var(--header-border-color) solid 1px;
}

.page-header__container {
  width: 480px;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* ---------Site nav__------- */
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-right: 96px;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-right: 315px;
    margin-left: 91px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-bottom: 28px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: var(--anim-type);
  transition: var(--anim-type);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__item {
  position: relative;
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.email__icon {
  fill: currentColor;
}

.tel__icon {
  fill: currentColor;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email,
.tel {
  text-decoration: none;
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: var(--anim-type);
  transition: var(--anim-type);
}

.email:hover,
.email:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--secondary-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/main.jpg);
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-white-color);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--secondary-accent-color);
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.feature__block {
  display: block;
  width: 270px;
}

.feature__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--last-section-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__description {
  color: var(--description-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.examples {
  padding-bottom: 94px;
}

.example__card {
  position: relative;
}

.examles__thumb {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--thumb-background-color);
  width: 100%;
  left: 0;
  bottom: 0;
}

.examples__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--last-section-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__card {
  background-color: var(--primary-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--icon-primary-color);
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--icon-primary-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition: var(--anim-type);
  transition: var(--anim-type);
}
.socials__link:hover, .socials__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
}

.clients__link {
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  color: var(--icon-primary-color);
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition: var(--anim-type);
  transition: var(--anim-type);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__logo {
  fill: currentColor;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters__button {
  padding: 6px 22px;
  background-color: var(--last-section-color);
  color: var(--text-main-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition: var(--anim-type);
  transition: var(--anim-type);
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work__thumb {
  position: relative;
  overflow: hidden;
}

.works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 3%;
  color: var(--primary-white-color);
  -webkit-transition: 500ms;
  transition: 500ms;
}
.works__card:hover .works__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.works__card {
  background-color: var(--primary-white-color);
  width: 370px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition: var(--anim-type);
  transition: var(--anim-type);
}

.works__card:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.works__card a {
  text-decoration: none;
}

.works__wrapper {
  padding: 20px 24px;
  border-left: var(--card-border-color) solid 1px;
  border-right: var(--card-border-color) solid 1px;
  border-bottom: var(--card-border-color) solid 1px;
}

.works__name {
  margin-bottom: 4px;
  color: var(--text-main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works__type {
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */