.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 0px;
  right: 15px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu-link {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  color: var(--text-main-color);
  font-size: 40px;
  line-height: calc(47 / 40);
  font-weight: 500;
}

.mobile-menu-link-current {
  color: var(--accent-color);
}

.mobile-socials {
  display: flex;
}

.link {
  text-decoration: none;
}

.mobile-contacts-tel {
  display: inline-block;
  color: var(--accent-color);
  font-size: 34px;
  line-height: calc(40 / 34);
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-contacts-mail {
  display: inline-block;
  color: var(--description-text-color);
  font-size: 24px;
  line-height: calc(28 / 24);
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mobile-socials-link {
  color: var(--accent-color);
  font-size: 18px;
  line-height: calc(22 / 18);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials-link.first {
  border: none;
  padding-left: 0;
}
