.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--icon-primary-color);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--icon-primary-color);
  transition-property: color, background-color;
  transition: var(--anim-type);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
}
